<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311790081802-6liquurgod4ai5j2evaa3260aefbfpka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311790081802-6liquurgod4ai5j2evaa3260aefbfpka</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>311790081802-4sm7bgikttslto7miiua68uhjpdjaulv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBj1xQs9OrZwVfbRKiV6OPX3wy3l-Kq5BI</string>
	<key>GCM_SENDER_ID</key>
	<string>311790081802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.ahgjobrepository</string>
	<key>PROJECT_ID</key>
	<string>ahg-job-repository</string>
	<key>STORAGE_BUCKET</key>
	<string>ahg-job-repository.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311790081802:ios:6416d0007c841b7df64cf3</string>
</dict>
</plist>